<!-- Nav bar -->
<nav class="group">
  <!-- Logo -->
  <h1 class="brand"><%= link_to "wat.do", root_url%></h1>
  <%= form_tag sessions_url, :class => "well form-inline pull-right" do %>

    <%= text_field_tag :email, params[:email], class: 'input-small', size: nil, placeholder: "Email" %>
    <%= password_field_tag :password, nil, class: 'input-small', size: nil, placeholder: 'Password' %>
    <%= submit_tag "Log in", class: "btn btn-primary" %>
    <% end %>
  </form>
</nav>


